$media: (
  xsm: 360px,
  sm: 768px,
  md: 850px,
  lg: 1024px
);

@mixin media-query($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  }
}
